<div id="posts">
  <% posts.each do |post| %>
    <% unless post.archived? %>
      <div id="<%= dom_id post %>" class="card">
        <%= render post, { :show => true } %>
      </div>
    <% end %>
  <% end %>
</div>