/* Custom Styling */

/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(240, 240, 240, 0.42);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin: 25px 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
    border: 8px;
    padding: 20px 35px;
    background-color: rgba(215, 215, 215, 0.6);
    border-radius: 15px;
}

.container.private {
    border: 8px;
    padding: 20px 35px;
    background-color: rgba(127, 152, 157, 0.55);
    border-radius: 15px;
}

.item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px;
}

.link-btn.bottom {
    padding: 2rem 1.8rem 2rem 0;
}

.link-btn.top {
    padding: 4rem 1.8rem 2rem 0;
}

.link-btn a {
    border: 1px solid var(--accent);
    border-radius: 5px;
    background: rgba(215, 215, 215, 0);
    font-size: 1rem;
    color: var(--accent);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
}

.link-btn a:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.header {
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 60px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 5px;
}